<h1>addmin data</h1>

<form action="/admin/addadmin" method="post">
  <label for="">name: </label>
  <input type="text" name="username" value="gopan" /><br /><br />
  <label for="">email: </label>
  <input type="email" name="email" value="@gmail.com" /><br /><br />
  <label for="">password: </label>
  <input type="password" name="password" value="1234" /><br /><br />

  <input type="submit" />

</form>
