<section
  class="w-100 h-100 bg-success text-white d-flex flex-row justify-content-center align-items-center"
>

  <section
    class="text-center border border-4 rounded w-25 p-2"
    style="height: 30rem;"
  >
    <h1 class="pt-2 text-capitalize font-monospace fw-bold">edit users.</h1>
    <form action="/admin/updatedUser/{{user._id}}" method="post" class="mt-4">

      <label
        for=""
        class="fs-5 fw-semibold text-capitalize font-monospace"
      >name.</label><br />
      <input
        class="w-100 form-control font-monospace text-capitalize"
        type="text"
        name="name"
        placeholder="enter name..."
        value="{{user.name}}"
      /><br />
      <label
        for=""
        class="fs-5 fw-semibold text-capitalize font-monospace"
      >email.</label><br />
      <input
        class="w-100 form-control font-monospace text-capitalize"
        type="email"
        name="email"
        placeholder="enter egmail..."
        value="{{user.email}}"
      /><br />
      <label
        for=""
        class="fs-5 fw-semibold text-capitalize font-monospace text-capitalize"
      >phone.</label><br />
      <input
        class="w-100 form-control text-capitalize font-monospace"
        type="tel"
        name="phone"
        placeholder="enter phone..."
        value="{{user.phone}}"
      /><br />

      <input
        class="btn btn-light w-100 mt-3 text-primary fw-bold font-monospace"
        type="submit"
      />

    </form>
  </section>

</section>