<section
  class="w-100 h-100 bg-success text-white d-flex flex-row justify-content-center align-items-center"
>

  <section class="text-center border border-4 rounded w-25 h-75 p-2">
    <h1 class="pt-4 text-capitalize font-monospace fw-bold">Admin SignIn</h1>
    <form action="/admin/signin" method="post" class="mt-5">

      <label
        for=""
        class="fs-3 fw-semibold text-capitalize font-monospace"
      >email</label><br />
      <input
        class="w-100 form-control font-monospace"
        type="email"
        name="email"
        placeholder="enter egmail..."
      /><br /><br />
      <label
        for=""
        class="fs-3 fw-semibold text-capitalize font-monospace"
      >password</label><br />
      <input
        class="w-100 form-control font-monospace"
        type="password"
        name="password"
        placeholder="enter passcode..."
      /><br /><br />

      <input
        class="btn btn-light w-100 text-primary fw-bold font-monospace"
        type="submit"
      />

    </form>
  </section>

</section>