<h1>userSignUp</h1>

<form action="/signup" method="post">
  <label for="">name: </label>
  <input type="text" name="username" placeholder="enter name..." /><br /><br />
  <label for="">emil: </label>
  <input type="email" name="email" value="@gmail.com" /><br /><br />
  <label for="">password: </label>
  <input type="password" name="password" placeholder="enter passcode" /><br
  /><br />
  <label for="">phone: </label>
  <input type="number" name="phone" placeholder="enter phone" /><br /><br />

  <input type="submit" />

</form>

<h1>
  already hold an account :
  <button onclick="location.href='/signin'">Sign In</button>
</h1>
