<h1>user signin</h1>

<form action="/signin" method="post">

  <label for="">email: </label>
  <input type="email" name="email" value="@gmail.com" /><br /><br />
  <label for="">password: </label>
  <input type="password" name="password" value="1234" /><br /><br />

  <input type="submit" />

</form>

<h1>
  dosen't hold an account :
  <button onclick="location.href='/signup'">Sign Up</button>
</h1>