<section
  class="w-100 h-100 bg-success text-white d-flex flex-row justify-content-center align-items-center"
>
  <p class="text-danger">{{message}}</p>

  <section class="text-center border border-4 rounded w-25 h-75 p-2">
    {{#if exists}}
      <h2 class="pt-2 text-capitalize font-monospace fw-bold">create an account</h2>
      <p class="text-capitalize font-monospace">accoun not exists</p>
    {{else}}
      <h1 class="pt-4 text-capitalize font-monospace fw-bold">user SignIn</h1>
    {{/if}}
    <form action="/signin" method="post" class="mt-5">

      <label
        for=""
        class="fs-3 fw-semibold text-capitalize font-monospace"
      >email</label><br />
      <input
        class="w-100 form-control font-monospace"
        type="email"
        name="email"
        placeholder="enter egmail..."
      /><br /><br />
      <label
        for=""
        class="fs-3 fw-semibold text-capitalize font-monospace"
      >password</label><br />
      <input
        class="w-100 form-control font-monospace"
        type="password"
        name="password"
        placeholder="enter passcode..."
      /><br /><br />

      <input
        class="btn btn-light w-100 text-primary fw-bold font-monospace"
        type="submit"
      />

    </form>
    <h6>
      dosen't hold an account :
      <button
        class="btn text-dark underline"
        onclick="location.href='/signup'"
      >Sign Up</button>
    </h6>
  </section>

</section>